<script>
  //TODO Melhorar página do candidato e estilizar
  //TODO Permitir a edição dos dados do candidato no painel do candidato
</script>

<div class="container-block my-4 shadow-lg">
  <div class="d-flex mb-2">
    <p class="text-capitalize fs-3 fw-bold m-0"><%= candidato.nome %></p>
    <span class="d-flex font-monospace align-items-center me-0 ms-auto"
      ><%= candidato.id %>
    </span>
  </div>

  <div class="d-flex">
    <p class="fw-bold m-0">CPF:</p>
    <span class="ms-1"><%= candidato.cpf %></span>
  </div>

  <div class="d-flex">
    <p class="fw-bold m-0">Email:</p>
    <span class="ms-1"><%= candidato.email %></span>
  </div>

  <div class="d-flex">
    <p class="fw-bold m-0">Senha:</p>
    <span class="ms-1"><%= candidato.senha %></span>
  </div>

  <% let nascimento = new Date(candidato.nascimento); nascimentoString
  =`${nascimento.getDate()}/${nascimento.getMonth()}/${nascimento.getFullYear()}`;
  let idade = Math.floor((new Date() - new Date(nascimento).getTime()) /
  3.15576e+10); %>

  <div class="d-flex">
    <p class="fw-bold m-0">Idade:</p>
    <span class="ms-1"><%= idade %></span>
  </div>

  <div class="d-flex">
    <p class="fw-bold m-0">Nascimento:</p>
    <span class="ms-1"><%= nascimentoString %></span>
  </div>

  <div class="d-flex mt-3">
    <p class="fw-bold m-0">Criado em:</p>
    <span class="ms-1"><%= candidato.createdAt.toString() %></span>
  </div>

  <div class="d-flex">
    <p class="fw-bold m-0">Ultima atualização:</p>
    <span class="ms-1"><%= candidato.updatedAt.toString() %></span>
  </div>
</div>

<div class="row mb-5">
  <!-- Vagas Cadastradas -->
  <div class="col-12 col-md-6">
    <div class="container-block-table-vagas shadow-lg">
      <!-- TODO possibilitar visualização das informações da vaga -->
      <h1>Vagas Cadastradas</h1>

      <% vagasCadastradas.forEach( vaga => { %>
      <div class="vagas-list d-flex">
        <div class="d-flex align-items-center">
          <span class="me-1"><%= vaga.empresa %></span>
          <span class="mx-2"><%= vaga.cargaHoraria %> h/dia</span>
          <span class="ms-1 me-0">R$<%= vaga.bolsa %></span>
        </div>
      </div>
      <% }) %>
    </div>
  </div>
  <!-- Vagas Disponiveis -->
  <div class="col-12 col-md-6">
    <div class="container-block-table-vagas shadow-lg">
      <h1>Vagas Disponiveis</h1>

      <% vagasDisponiveis.forEach( vaga => { %>
      <div class="vagas-list d-flex">
        <div class="d-flex align-items-center">
          <span class="me-1"><%= vaga.empresa %></span>
          <span class="mx-2"><%= vaga.cargaHoraria %> h/dia</span>
          <span class="ms-1 me-0">R$<%= vaga.bolsa %></span>
        </div>
        <button
          class="btn btn-success px-4 ms-auto me-0"
          id="botaoCandidatar"
          onclick="candidatar('<%= candidato.id %>', '<%= vaga.id %>')"
        >
          candidatar
        </button>
      </div>
      <% }) %>
    </div>
  </div>
</div>

<style>
  /* body {
    background-color: #e8ecf0 !important;
  } */

  li {
    color: #eff4ee;
  }
</style>
