<!-- TODO Permitir a edição dos dados do candidato -->
<!-- TODO possibilitar visualização das informações da vaga -->

<!-- Perfil -->
<div class="container-block my-4 shadow-lg">
  <div class="d-flex mb-2">
    <div>
      <p class="text-capitalize fs-3 fw-bold m-0"><%= candidato.nome %></p>
    </div>
    <div class="me-0 ms-auto">
      <span class="d-flex font-monospace align-items-center id-pill py-0 px-2"
        ><%= candidato.id %>
      </span>
    </div>
  </div>

  <div class="d-flex">
    <p class="fw-bold m-0">CPF:</p>
    <span class="ms-1"><%= candidato.cpf %></span>
  </div>

  <div class="d-flex">
    <p class="fw-bold m-0">Email:</p>
    <span class="ms-1"><%= candidato.email %></span>
  </div>

  <div class="d-flex">
    <p class="fw-bold m-0">Telefone:</p>
    <span class="ms-1"><%= candidato.telefone %></span>
  </div>

  <div class="d-flex">
    <p class="fw-bold m-0">Senha:</p>
    <span class="ms-1"><%= candidato.senha %></span>
  </div>

  <% let nascimento = new Date(candidato.nascimento); nascimentoString
  =`${nascimento.getDate()}/${nascimento.getMonth()}/${nascimento.getFullYear()}`;
  let idade = Math.floor((new Date() - new Date(nascimento).getTime()) /
  3.15576e+10); %>

  <div class="d-flex">
    <p class="fw-bold m-0">Idade:</p>
    <span class="ms-1"><%= idade %></span>
  </div>

  <div class="d-flex">
    <p class="fw-bold m-0">Nascimento:</p>
    <span class="ms-1"><%= nascimentoString %></span>
  </div>

  <div class="">
    <p class="fw-bold m-0">Habilidades:</p>

    <table class="table table-hover table-bordered">
      <thead>
        <th scope="col">Habilidade</th>
        <th scope="col">Nível</th>
      </thead>
      <tbody>
        <% if (candidato.habilidades == null) { %>
        <tr>
          <td>--</td>
          <td>--</td>
        </tr>
        <% } else { %> <% candidato.habilidades.forEach(habilidade => { %>
        <tr>
          <td><%= habilidade[0] %></td>
          <td><%= habilidade[1] %></td>
        </tr>
        <% }) %> <%} %>
      </tbody>
    </table>
  </div>

  <div class="d-flex mt-3">
    <p class="fw-bold m-0">Criado em:</p>
    <span class="ms-1"><%= candidato.createdAt.toString() %></span>
  </div>

  <div class="d-flex">
    <p class="fw-bold m-0">Ultima atualização:</p>
    <span class="ms-1"><%= candidato.updatedAt.toString() %></span>
  </div>
</div>

<!-- Vagas -->
<div class="row mb-5">
  <!--* Vagas Cadastradas ========== -->
  <div class="col-12 col-md-6">
    <div class="container-block-table-vagas scroll-bar-hide shadow-lg">
      <h1>Vagas Cadastradas</h1>

      <!-- Linha START -->
      <% vagasCadastradas.forEach( (vaga, index) => { %>
      <!-- Item na lista -->
      <div
        class="vagas-list-item"
        data-bs-toggle="modal"
        data-bs-target="#vagaCadModal<%= index %>"
      >
        <div class="d-flex align-items-center">
          <span class="ms-0 me-auto"><%= vaga.empresa %></span>
          <span class="me-3"><%= vaga.cargaHoraria %> h/dia</span>
          <span class="me-3">R$<%= vaga.bolsa %></span>
          <span
            class="dot dot-<%= vaga.status.toLowerCase() %> me-3"
            title="<%= vaga.status %>"
          ></span>
          <% if (vaga.status.toLowerCase() !== "cadastrado" ) { %>

          <button
            class="btn btn-secondary px-4"
            id="botaoCandidatar"
            onclick="descandidatar('<%= candidato.id %>', '<%= vaga.idVaga %>')"
            disabled
          >
            Sair
          </button>

          <% } else { %>

          <button
            class="btn btn-danger px-4"
            id="botaoCandidatar"
            onclick="descandidatar('<%= candidato.id %>', '<%= vaga.idVaga %>')"
          >
            Sair
          </button>

          <% } %>
        </div>
      </div>

      <!-- Modal -->
      <div
        class="modal fade"
        id="vagaCadModal<%= index %>"
        tabindex="-1"
        aria-labelledby="vagaCadModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5 fw-bold" id="vagaCadModalLabel">
                <%= vaga.empresa %>
              </h1>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>

            <!-- Conteudo -->
            <div class="modal-body modal-dialog-scrollable">
              <span class="me-3 fw-bold"
                >Código: <span class="fw-normal"><%= vaga.codigo %><br /></span
              ></span>

              <span class="me-3 fw-bold"
                >Carga Horaria:
                <span class="fw-normal"
                  ><%= vaga.cargaHoraria %> h/dia <br /></span
              ></span>

              <span class="me-3 fw-bold"
                >Varlore da bolsa:
                <span class="fw-normal">R$<%= vaga.bolsa %> <br /></span
              ></span>
              <span class="me-3 fw-bold"
                >Descrição:
                <p class="fw-normal"><%= vaga.descricao %></p></span
              >
            </div>
            <!-- Conteudo END -->

            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-bs-dismiss="modal"
              >
                Close</button
              ><% if (vaga.status.toLowerCase() !== "cadastrado" ) { %>

              <button
                class="btn btn-secondary px-4"
                id="botaoCandidatar"
                onclick="descandidatar('<%= candidato.id %>', '<%= vaga.idVaga %>')"
                disabled
              >
                Sair
              </button>

              <% } else { %>

              <button
                class="btn btn-danger px-4"
                id="botaoCandidatar"
                onclick="descandidatar('<%= candidato.id %>', '<%= vaga.idVaga %>')"
              >
                Sair
              </button>

              <% } %>
            </div>
          </div>
        </div>
      </div>

      <% }) %>
      <!-- Linha END -->
    </div>
  </div>

  <!--* Vagas Disponiveis ========== -->
  <div class="col-12 col-md-6">
    <div class="container-block-table-vagas scroll-bar-hide shadow-lg">
      <h1>Vagas Disponiveis</h1>
      <div class="overflow-auto">
        <% vagasDisponiveis.forEach( (vaga, index) => { %>
        <!-- Item na lista -->
        <div
          class="vagas-list-item"
          data-bs-toggle="modal"
          data-bs-target="#vagaDispModal<%= index %>"
        >
          <div class="d-flex align-items-center">
            <span class="ms-0 me-auto overflow-auto" style="max-width: 10rem"
              ><%= vaga.empresa %></span
            >
            <span class="me-3"><%= vaga.cargaHoraria %> h/dia</span>
            <span class="me-3">R$<%= vaga.bolsa %></span>
            <button
              class="btn btn-success px-4"
              id="botaoCandidatar"
              onclick="candidatar('<%= candidato.id %>', '<%= vaga.id %>')"
            >
              candidatar
            </button>
          </div>
        </div>

        <!-- Modal -->
        <div
          class="modal fade"
          id="vagaDispModal<%= index %>"
          tabindex="-1"
          aria-labelledby="vagaDispModalLabel"
          aria-hidden="true"
        >
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5 fw-bold" id="vagaDispModalLabel">
                  <%= vaga.empresa %>
                </h1>
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                ></button>
              </div>

              <!-- Conteudo -->
              <div class="modal-body modal-dialog-scrollable">
                <span class="me-3 fw-bold"
                  >Código:
                  <span class="fw-normal"><%= vaga.codigo %><br /></span
                ></span>

                <span class="me-3 fw-bold"
                  >Carga Horaria:
                  <span class="fw-normal"
                    ><%= vaga.cargaHoraria %> h/dia <br /></span
                ></span>

                <span class="me-3 fw-bold"
                  >Varlore da bolsa:
                  <span class="fw-normal">R$<%= vaga.bolsa %> <br /></span
                ></span>
                <span class="me-3 fw-bold"
                  >Descrição:
                  <p class="fw-normal"><%= vaga.descricao %></p></span
                >
              </div>
              <!-- Conteudo END -->

              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-secondary"
                  data-bs-dismiss="modal"
                >
                  Close
                </button>
                <button
                  class="btn btn-success px-4"
                  id="botaoCandidatar"
                  onclick="candidatar('<%= candidato.id %>', '<%= vaga.id %>')"
                >
                  candidatar
                </button>
              </div>
            </div>
          </div>
        </div>

        <% }) %>
      </div>
    </div>
  </div>
</div>
